{% extends "index.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="date-container" class="col-lg-12">
                <article data-step="1" data-intro="Test" data-position="bottom">
                    <div id="date-chart"><span>Achievements Unlocked by Date</span></div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12 pie-container">
                <article data-step="2" data-intro="Test" data-position="bottom">
                    <span>Status of Achievements</span>
                    <div class="chart-stage">
                        <div id="unlocked-chart"></div>
                    </div>
                </article>
            </div>
            <div class="col-lg-6 col-sm-12 pie-container">
                <article data-step="3" data-intro="Test" data-position="bottom">
                    <span>Secret Achievements</span>
                    <div class="chart-stage">
                        <div id="secret-chart"></div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div id="select-container" class="col-lg-6 col-md-12">
                <article data-step="4" data-intro="Test" data-position="bottom">
                    <div class="chart-stage">
                        <div id="select-game"><span>Select Game: </span></div>
                    </div>
                </article>
            </div>
            <div id="total-container" class="col-lg-6 col-md-12">
                <article data-step="5" data-intro="Test" data-position="bottom">
                    <div class="chart-stage">
                        <div id="total-number"><span>Total Achievements: </span></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
{% endblock %}