{% extends "index.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 chart-container">
                <article class="chart-wrapper">
                    <div class="chart-title">
                        <h5>Achievements Unlocked by Date</h5>
                    </div>
                    <div class="chart-stage col-lg-12">
                        <div id="date-chart"></div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-5">
                <article class="chart-wrapper">
                    <div class="chart-title">
                        <h5>Status of Achievements</h5>
                    </div>
                    <div class="chart-stage">
                        <div id="unlocked-chart"></div>
                    </div>
                </article>
            </div>
            <div class="col-lg-5">
                <article class="chart-wrapper">
                    <div class="chart-title">
                        <h5>Secret Achievements</h5>
                    </div>
                    <div class="chart-stage">
                        <div id="secret-chart"></div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-4 chart-container">
                <article class="chart-wrapper">
                    <div class="chart-stage">
                        <div class="chart-title">
                            <h5>Select Game: </h5>                        
                        </div>
                        <div id="select-game"></div>
                    </div>
                </article>
            </div>
            <div class="col-lg-offset-1 col-lg-5 chart-container">
                <article class="chart-wrapper">
                    <div class="chart-stage">
                        <div class="chart-title">
                            <h5>Total Achievements: </h5>                        
                        </div>
                        <div id="total-number"></div>
                    </div>
                </article>
            </div>
        </div>       
    </div>
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
{% endblock %}